# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_NAME=mock_server_db
DB_USER=postgres
DB_PASSWORD=yAIraSSu0R7fHe1zAMZHZo0hS67ZxLT9S2doFiIzTMU=

# API Configuration
API_KEY=your-secret-api-key-here
PORT=8080

# Environment
NODE_ENV=development
